<%- include("../includes/header") %>
<%- include("../includes/navbar") %>
<main class="container-fluid">
    <div class="row">
        <% if(products.length > 0) { %>
        <% for(product of products) { %>
        <div class="col-sm-3">
            <div class="card-box">
                <figure>
                    <img class="card-image" src="https://miro.medium.com/max/1200/1*y6C4nSvy2Woe0m7bWEn4BA.png"
                        alt="img">
                </figure>
                <div class="box">
                    <h4 class="box-title"><%= product.title %></h4>
                    <p class="box-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias placeat quidem
                        atque quam. Ea,
                        asperiores!</p>
                    <button class="btn btn-block btn-primary">$ 19</button>
                </div>
            </div>
        </div>
        <% } %>
        <% } else { %>
        <h1>Product Not Found</h1>
        <% } %>

    </div>
</main>
<%- include("../includes/footer") %>